{% extends "app.html" %}
{% set category = 'user' %}

{% block title %}Adhérer - Annulation{% endblock %}
{% block banner %}{% endblock %}

{% block css %}
<style>
</style>
{% endblock %}

{% block content %}
<h1 class="h1">Adhérer à l'association "Les Scorpions du Désert"</h1>

<article>
    <div style="width:70%" class="alert alert-warning" role="alert">
        <div class="row">
            <div class="col-1" style="text-align: center; font-size: 48px;">&#x1F645;</div>
            <div class="col-11">
                La transaction a bien été annulée.
                <br><br>
                Aucune somme ne sera débitée sur ton compte PayPal.
            </div>
        </div>
    </div>

    <a href="/" class="btn btn-secondary">Annuler</a>&nbsp;&nbsp;
    <a href="/adherer" class="btn btn-primary">Retourner sur Adhérer</a>
</article>

<pre>
{{debug}}
</pre>
{% endblock %}
