{% extends "app.html" %}
{% set category = 'user' %}

{% block title %}Admin{% endblock %}
{% block banner %}{% endblock %}

{% block header %}
<style>
    article {
        margin-top: 2em;
    }
</style>
{% endblock %}


{% block content %}
<h1>Le coin des Admins</h1>

{% if ok %}
<div class="alert alert-success" role="alert">
    {{target|capitalize}} : Mise à jour lancée, attendez une dizaine de secondes...
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    {{target|capitalize}} : Un problème est survenu en écrivant le fichier de trigger.
</div>
{% endif %}
<a href="/admin">
    <button class="btn btn-primary">OK</button>
</a>

<pre>
{{debug}}
</pre>
{% endblock %}
