<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Les Scorpions du Désert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="content" content="" />
    <meta name="keywords" content="" />

    <link rel="stylesheet" href="/css/application.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="/js/lib.js"></script>
    {% endblock %}
</head>

<body>

<header>
    {% block header %}
    <!-- header begin -->
    <!-- header end -->
    {% endblock %}
</header>

<section id="content">
    {% if flash_notice %}<aside class="flash">{{flash_notice}}</aside>{% endif %}
    {% block content %}{% endblock %}
</section>

<nav>
    <ul>
        {% block nav %}
        {% if session.user_id %}
        <li id="menu_admin"><a href="/login/menu">Administration</a></li>
        {% endif %}
        {% endblock %}
    </ul>
</nav>

<footer id="footer">
    {% block footer %}
    <!-- footer begin -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- footer end -->
    {% endblock %}
</footer>

</body>
</html>