<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Les Scorpions du Désert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="content" content=""/>
    <meta name="keywords" content=""/>

    <link rel="stylesheet" href="/css/application.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="/js/lib.js"></script>
    {% endblock %}
    {% block css %}
    {% endblock %}
</head>

<body class="container">

<header>
    {% block header %}
    <!-- header begin -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="http://www.scorpions-du-desert.com/" title="Retourner sur le site des LSD"><img class="navbar-brand"
                                                                                                 src="/img/LSD_Logo_bleu-HD.png"/></a>
        <div class="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/users">Utilisateurs</a>
                </li>
                {% if cur_user.canReviewUsers %}
                <li class="nav-item">
                    <a class="nav-link" href="/users/review">Candidatures</a>
                </li>
                {% endif %}
                {% if cur_user.canManageSections %}
                <li class="nav-item">
                    <a class="nav-link" href="/sections">Sections</a>
                </li>
                {% endif %}
                {% if cur_user.isScorpion %}
                <li class="nav-item">
                    <a class="nav-link" href="/adherer">Adhérer</a>
                </li>
                {% endif %}
                {% if cur_user.isAdmin %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Administration</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div id="cur_user">
            {% if cur_user %}
            <span class="avatar"><a href="/users/{{cur_user.id}}"><img src="{{cur_user.avatar}}"></a></span>
            <span class="name"><a href="/users/{{cur_user.id}}">{{cur_user.discord_username|e}}</a></span>
            {% endif %}
        </div>
    </nav>
    <!-- header end -->
    {% endblock %}
</header>

<section id="flash">
    {% if flash.primary %}
    <div class="alert alert-primary" role="alert">{{flash.primary}}</div>
    {% endif %}
    {% if flash.info %}
    <div class="alert alert-info" role="alert">{{flash.info}}</div>
    {% endif %}
    {% if flash.success %}
    <div class="alert alert-success" role="alert">{{flash.success}}</div>
    {% endif %}
    {% if flash.danger %}
    <div class="alert alert-danger" role="alert">{{flash.danger}}</div>
    {% endif %}
    {% if flash.error %}
    <div class="alert alert-danger" role="alert">{{flash.error}}</div>
    {% endif %}
    {% if flash.warning %}
    <div class="alert alert-warning" role="alert">{{flash.warning}}</div>
    {% endif %}
</section>

<section id="content">
    {% block content %}{% endblock %}
</section>

<nav>
    <ul>
        {% block nav %}
        {% if session.user_id %}
        <li id="menu_admin"><a href="/login/menu">Administration</a></li>
        {% endif %}
        {% endblock %}
    </ul>
</nav>

<footer id="footer">
    {% block footer %}
    <!-- footer begin -->
    <script
            src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script>
        $(function () {
            // Select the navigation item corresponding the best to the pathname (best=longest)
            var pathname = window.location.pathname;
            var bestItem = null;
            var bestLength = 0;
            $('nav a.nav-link').each(function () {
                if (pathname.startsWith($(this).attr('href'))) {
                    var lg = $(this).attr('href').length;
                    if (lg > bestLength) {
                        bestLength = lg;
                        bestItem = $(this).parent();
                    }
                }
            });
            if (bestItem) {
                bestItem.addClass('active');
            }
        });
    </script>
    <!-- footer end -->
    {% endblock %}
</footer>

</body>
</html>