{% extends "app.html" %}
{% set category = 'section' %}

{% block title %}Liste des Sections{% endblock %}
{% block banner %}{% endblock %}

{% block css %}
<style>
</style>
{% endblock %}

{% block content %}
<h1 class="h1">Liste des Sections</h1>

<article>
    {% if can_edit %}<a class="btn btn-primary" href="/sections/new" style="float: right;">Créer une nouvelle Section...</a>{% endif %}
    {% for n,l in sections %}
    {% if can_edit %}<h2>{{ n }}</h2>{% endif %}
    <table class="sections_table table table-striped table-sm">
        <thead>
        <tr>
            <th width="10%">Tag</th>
            <th width="20%">Nom</th>
            <th width="5%" style="text-align:center;">Notes</th>
            <th width="5%" style="text-align:center;">Pop</th>
            <th width="60%">Officiers</th>
        </tr>
        </thead>
        <tbody>
        {% for s in l %}
        <tr>
            <td nowrap>{% if s._can_edit %}<a href="/sections/{{s.tag}}">{{s.tag|e}}</a>{% else %}{{s.tag|e}}{% endif %}</td>
            <td>{{ s.name |e}}</td>
            <td align="center">{% if (s.notes and s._notes_can_read) or s._notes_can_edit %}<a href="/sections/{{s.tag}}/notes" title="Notes de la Section {{ s.name |e}}">&#x1F5D2;</a>{% endif %}</td>
            <td align="center">{{s.count}}</td>
            <td>
                {% for u in s._officers %}
                <a href="/users/{{u.id}}?returnto=/sections">{{u.discord_username | e}}</a>{% if not(loop.last) %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}

</article>
<pre>
{{debug}}
</pre>
{% endblock %}
