{% extends "app.html" %}
{% set category = 'section' %}

{% block title %}Section{% endblock %}
{% block banner %}{% endblock %}

{% block css %}
<style>
    #preview {
        margin-top: 1em;
    }

    #preview blockquote {
        padding-left: 1em;
        border-left: lightgray 4px solid;
    }

    pre.help {
        font-size: 60%;
    }

    #markdown {
        font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        font-size: 70%;
    }
</style>
{% endblock %}

{% block js %}
<script>
    {% if can_edit %}
    var old_md = null;

    function preview()
    {
        var md = $('#markdown').val();
        if (old_md != null && md != old_md) {
            $('#progress').show();
            $.post('/sections/{{section.tag}}/markdown', {markdown: md}, function(data) {
                $('#preview').html(data);
                $('#progress').hide();
            });
        }
        old_md = md;
    }

    setInterval(preview, 1000);

    $("#markdown").keydown(function () {
        var md = $('#markdown').val();
        if (old_md != null && md != old_md) {
            $('#progress').show();
        }
    });
    {% endif %}
</script>
{% endblock %}

{% block content %}
<h1 class="h1">Notes de la Section <i>{{section.name | e}}</i></h1>

{% if can_edit %}
<form method="post">
            <article id="edit" class="row">
                <textarea class="form-control col-9" id="markdown" name="markdown" rows="12" style="width:100%;">{{md}}</textarea>
<pre class="col-3 help">
**gras**
_italique_

* liste item 1
* liste item 2

Titre niveau 1
==============

Titre niveau 2
--------------

http://www.url.com
[texte du lien](url_du_lien)

![texte image](url_de_l'image)

| Titre 1    |    Titre 2   |
| :--------- | :----------: |
| Colonne    |    Colonne   |
| Alignée à  |  Alignée au  |
| Gauche     |    Centre    |

> Citation
</pre>
    </article>
    <div style="height:12px;"><img id="progress" style="display:none;" src="/img/ajax-loader-line.gif"></div>

    <article id="preview">{{content|raw}}</article>

    <div style="margin-top: 1em"></div>
    <a href="/sections" class="btn btn-secondary">Annuler</a>
    <button type="submit" name="submit" value="1" class="btn btn-primary">Enregistrer</button>
</form>
{% elseif can_read %}
<article id="preview">{{content|raw}}</article>
<a href="/sections">&laquo; Sections</a>
{% else %}
<div class="alert alert-danger" role="alert">
    Il faut appartenir à cette Section pour pouvoir en lire les notes.
</div>
<a href="/sections">&laquo; Sections</a>
{% endif %}

<pre>
{{debug}}
</pre>
{% endblock %}
