{% extends "app.html" %}
{% set category = 'user' %}

{% block title %}Inscription{% endblock %}
{% block banner %}{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<h1>Inscription de {{cur_user.discord_username}} : refusée</h1>

<article>
    <p>Nous sommes désolés, mais après un examen attentif, ton inscription chez les Scorpions du Désert a été
        refusée. Voici le message de la personne qui a revu ta candidature :</p>
    <p class="alert alert-primary">{{ cur_user.review|e|nl2br }}</p>
    <p>Pour référence : <a
            href="http://accueil.scorpions-du-desert.com/la-guilde/charte-de-la-guilde" target="_blank">la
        Charte des Scorpions du Désert</a>. Sans doute trouveras-tu ailleurs une Guilde mieux adaptée à ton profil ?</p>
    <p>Bonne continuation,</p>
    <p>- Les Scorpions du Désert</p>
</article>
{% endblock %}
