{% extends "app.html" %}
{% set category = 'user' %}

{% block title %}Liste des Scorpions{% endblock %}
{% block banner %}{% endblock %}

{% block css %}
<style>
    #users_table th input {
        width:100%;
    }
    #users_table td.account {
        vertical-align: middle;
        padding-right: 1em;
    }

    #users_table td.account img {
        display: inline;
        max-height: 48px;
    }
</style>
{% endblock %}

{% block content %}
<div style="float:right; margin-top:1.2em; text-align:right;">
    {% if cur_user.isAdmin or cur_user.isPresident %}
    <span id="export" style="margin-right: 3em;"><a id="export_url" href="#" download="lsd_export.txt">Exporter...</a></span>
    {% endif %}
    <span>Total : <span id="count">...</span></span>
</div>
<h1 class="h1">Liste des utilisateurs</h1>

<article>
    <table id="users_table" class="table table-striped table-sm">
        <thead>
        <tr>
            <th width="34%">Compte Discord</th>
            <th width="34%">Rôles</th>
            <th width="16%">Sections</th>
            <th width="16%" nowrap>Pseudo Forum</th>
        </tr>
        <tr id="search_fields" valign="middle">
            <th>
                <input id="s_name">
            </th>
            <th>
                <select id="s_role" class="custom-select" onchange="searchUsers(1)">
                    <option value="" selected>-</option>
                    <option value="visiteur">Visiteur</option>
                    <option value="invite">Invité</option>
                    <option value="scorpion">Scorpion</option>
                    <option value="membre">Membre d'une Section</option>
                    <option value="officier">Officier d'une Section</option>
                    <option value="conseiller">Conseiller</option>
                    <option value="secretaire">Secrétaire</option>
                    <option value="tresorier">Trésorier</option>
                    <option value="president">Président</option>
                    <option value="admin">Admin</option>
                    <option value="cm">Community Manager</option>
                    <option value="adherent_{{years.last}}">Adhérent {{years.last}}</option>
                    <option value="adherent_{{years.current}}">Adhérent {{years.current}}</option>
                    <option value="adherent_{{years.next}}">Adhérent {{years.next}}</option>
                </select>
            </th>
            <th>
                <select id="s_section" class="custom-select" onchange="searchUsers(1)">
                    <option value="" selected>-</option>
                    {% for s in sections %}
                    <option value="{{s.tag}}">{{s.tag}}: {{s.name}}</option>
                    {% endfor %}
                </select>
            </th>
            <th>
                <input id="s_vb">
            </th>
        </tr>
        </thead>
        <tbody id="users">
        </tbody>
    </table>
</article>
<pre>
{{debug}}
</pre>
{% endblock %}

{% block footer %}
{{ parent() }}
<script>
    function delay(callback, ms) {
        var timer = 0;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    }

    function addFilter(id, query) {
        var value = $('#' + id).val();
        if (value) {
            if (query) {
                query += '&';
            }
            query += id + '=' + escape(value);
        }
        return query;
    }

    function buildQuery() {
        var query = '';
        query = addFilter('s_name', query);
        query = addFilter('s_role', query);
        query = addFilter('s_section', query);
        query = addFilter('s_vb', query);
        return query;
    }

    function searchUsers(page) {
        $('#users').html('<tr><td colspan="99" align="center"><img src="/img/ajax-loader.gif"></td></tr>');
        var query = buildQuery();
        $('#export_url').attr('href', '/users/export?'+query);
        query += (query?'&':'') + 's_page=' + page;
        $('#users').load('/users/search', query, function() {
            $('#count').html($('#total').val());
        });
        return false;
    }

    $(function () {
        searchUsers(1);

        $('#search_fields input').keyup(delay(function (e) {
            // Build a search string and launch an AJAX call
            searchUsers(1);
        }, 500))
    });

</script>
{% endblock %}
