{% extends "app.html" %}
{% set category = 'user' %}

{% block title %}Info utilisateur{% endblock %}
{% block banner %}{% endblock %}

{% block content %}
{% if user %}
<img src="{{user.avatar}}" style="float: left;">
<h1>{{user.discord_username|e}}</h1>
<form method="post" style="clear:both;">
    {% if errors %}
    <div class="errorExplanation">
        <h2>Erreur</h2>
        <ul>
            {% for k,v in errors %}
            <li>{{k}} : {{v}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <h2>Message de candidature :</h2>
    <p>{{user.testimony|e}}</p>

    {# Example of restricted display: only Admins or myself can see the user's e-mail #}
    {% if can_change_email == 'full' %}
    <p>E-mail: <input type="text" name="email" value="{{user.email|e}}"></p>
    {% elseif can_change_email == 'checkbox' %}
        {# Conseillers can only turn the newsletter option off. Which deletes the e-mail from the table #}
        {% if user.email %}
            <p><input type="checkbox" name="newsletter" value="1" checked> Newsletter</p>
        {% else %}
            <p>Non inscrit à la mailing list</p>
        {% endif %}
    {% endif %}

    <div id="roles">
        Rôle :<br>
        {% for r in roles_table %}
            <label><input type="radio" name="role" value="{{r.role}}" {% if r.role==user._highest_role %}checked{% endif %} {% if r.disabled %}disabled{% endif %}> {{r.name}}</label><br>
        {% endfor %}
    </div>
    <div id="bureau">
        Bureau :
        <select name="bureau" {% if not(cur_user.isAdmin) %}disabled{% endif %}>
            <option value="" {% if not(user.isBureau) %}selected{% endif %}>-</option>
            {% for r in bureau_table %}
            <option value="{{r.role}}" {% if r.selected %}selected{% endif %}>{{r.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div id="sections">
        Sections :<br>
        <table>
            <tr><th>M</th><th>O</th><th>Section</th></tr>
            {% for s in sections %}
            <tr>
                <td><input type="checkbox" name="{{s.tag}}_M" {% if s._belong=='membre' %}checked{% endif %} {% if not(cur_user._canNameMembres) %}disabled{% endif %}></td>
                <td><input type="checkbox" name="{{s.tag}}_O" {% if s._belong=='officier' %}checked{% endif %} {% if not(cur_user._canNameOfficiers) %}disabled{% endif %}></td>
                <td>{{s.name|e}} ({{s.tag}})</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div id="other_roles">
        Autres :<br>
        Adhérent :
            <label><input type="checkbox" name="adherent_ly" value="1" {% if user._adherent_ly %}checked{% endif %} {% if not(cur_user._canSetOtherRoles) %}disabled{% endif %}> {{year.last}}</label>
            <label><input type="checkbox" name="adherent_cy" value="1" {% if user._adherent_cy %}checked{% endif %} {% if not(cur_user._canSetOtherRoles) %}disabled{% endif %}> {{year.current}}</label>
            <label><input type="checkbox" name="adherent_ny" value="1" {% if user._adherent_ny %}checked{% endif %} {% if not(cur_user._canSetOtherRoles) %}disabled{% endif %}> {{year.next}}</label>
        <br>
        <label><input type="checkbox" name="cm" value="1" {% if user._cm %}checked{% endif %} {% if not(cur_user._canSetOtherRoles) %}disabled{% endif %}> Gestionnaire de communauté</label><br>
    </div>

    <button class="btn btn-primary" type="submit">Mettre à jour</button>
</form>
{% else %}
<p class="errorExplanation">Erreur : cet utilisateur n'existe pas.</p>
{% endif %}
<pre>
{{debug}}
</pre>
{% endblock %}
